#grid{
    display: grid; 
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: repeat(5, 0fr);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    width: 200px;
    height: auto;
    border: 0.5px solid rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add{
    margin-bottom: 20px;
}
img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
h3{
    word-wrap: break-word;
    margin: 0;
}
p{
    align-self: flex-start;
    margin: 0;
}